.container{
    background-color: #ffffff;
    height: 85vh;
}

.content{
    width: 80%;
    margin-left: 10%;
}

.cover-photo{
    border-radius: 0px 0px max(0px, min(8px, (-100% - 4px + 100vw) * 9999)) max(0px, min(8px, (-100% - 4px + 100vw) * 9999)) / 0px 0px 8px 8px;
    height: 60vh;
    width: 100%;
}

.avatar{
    position: relative;
    bottom: 5vh;
    left: 30px;
}

.info{
    position: relative;
    left: 50px;
    bottom: 6vh
}

.container-buttons-user{
    position: relative;
    bottom: 10vh;
}

.update-info-button{
    background-color: #DCDCDC;
    color: 'black';
    font-weight: bold;
    &:hover {
        background-color: gray;
    }
}